@model WorkflowManagementSystem.ViewModels.UsherViewModel

@if (Request.IsAuthenticated)
{
    {
        ViewBag.Title = "Usher Details";
    }

    <h2>Usher Details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @*@Html.DisplayNameFor(model => model.FirstName)*@
                @Html.Label("Name")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
                @Html.DisplayFor(model => model.LastName)
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MobileNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nationality)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nationality)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Language)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Language)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CarAvailability)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CarAvailability)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MedicalCard)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MedicalCard)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.MedicalCardFile)
                @if (!String.IsNullOrEmpty(Model.MedicalCard))
                {
                    <a href="@Url.Content(Model.MedicalCard)">Medical Card</a>
                }
            </dd>

        </dl>
    </div>
    <p>
         @if (Request.IsAuthenticated && User.IsInRole("Admin"))
         {

        @Html.ActionLink("Edit", "Edit", new { id = Model.UsherId }) 
          } 

        @Html.ActionLink("Back to Usher List", "Index")
    </p>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @* <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}