@model IEnumerable<WorkflowManagementSystem.ViewModels.UsherViewModel>

@if (Request.IsAuthenticated @*&& User.IsInRole("Admin && Production Employee")*@)
{
    {
        ViewBag.Title = "Usher List";
    }

    <h2>Usher List</h2>

    if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
    <p>
        @Html.ActionLink("Create New Usher", "Create","Usher", new { @class = "btn btn-create" })
    </p>
    }

    <table class="table" id="ushersTable">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.FirstName)*@
                    @Html.Label("Name")
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>*@

                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarAvailability)
                </th>

                <th></th>
            </tr>
        <thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>               

                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarAvailability)
                </td>

                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.UsherId }, new { @class = "btn btn-primary btn-xs btn-sharp" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.UsherId }, new { @class = "btn btn btn-warning btn-xs btn-sharp btn-right-space" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.UsherId }, new { @class = "btn btn-danger btn-xs btn-sharp" })
                </td>

                }
                 @if (Request.IsAuthenticated && User.IsInRole("Production Employee"))
                 {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.UsherId }, new { @class = "btn btn-primary btn-xs btn-sharp" })
                </td>
                 }

                @*<td>
                    @Html.ActionLink("Evaluate", "Evaluate", "UsherEvaluation", new { id = item.UsherId }, null)
                </td>*@

            </tr>
            }
        <tbody>
    </table>

    @section scripts
{
        <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/jquery.dataTables.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.scroller.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.bootstrap.min.js")"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#ushersTable').DataTable({

                    //"scrollY": "300px",
                    //"scrollCollapse": true,
                    //"paging": false,

                    "columnDefs": [
                        { "orderable": false, "targets": -1 }
                    ]
                });
            });
        </script>
    }

    @section styles
{
        <link href="@Url.Content("/Content/DataTables/css/jquery.dataTables.min.css")" rel="stylesheet" />
        <link href="@Url.Content("/Content/DataTables/css/dataTables.scroller.min.css")" rel="stylesheet" />
        <link href="@Url.Content("/Content/DataTables/css/dataTables.bootstrap.min.css")" rel="stylesheet" />
    }

            }