@model IEnumerable<WorkflowManagementSystem.ViewModels.CostSheetViewModel>

@if (Request.IsAuthenticated)
{
    {
        Layout = null;
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CostSheetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionEmployee)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CostSheetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionEmployee)
                </td>

                <td>
                    @*@Html.ActionLink("Edit", "Edit", "Document", new { id = item.DocumentId }, null) |*@

                    @if (Request.IsAuthenticated && User.IsInRole("Production Employee"))
                    {
                         @Html.ActionLink("Add Items", "CostSheetItems", "CostSheet", new { id = item.CostSheetId }, null)
                    }

                    @if (Request.IsAuthenticated)
                    {
                         @Html.ActionLink("Details", "CostSheetItems", "CostSheet", new { id = item.CostSheetId }, null)
                    }

                </td>
            </tr>
        }
    </table>
}