@model IEnumerable<WorkflowManagementSystem.ViewModels.TaskAssignmentViewModel>

@{
    Layout = null;
}

@if (Model.Count() <= 0)
{
    <p>No Task Assignments</p>
}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnyEmployee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientServiceEmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventProject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnyEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientServiceEmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TaskAssignmentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TaskAssignmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TaskAssignmentId })
            </td>
        </tr>
    }

</table>
}