@model WorkflowManagementSystem.ViewModels.ProjectEventReportTemplateViewModel

@if (Request.IsAuthenticated)
{
    {
        Layout = null;
    }
    <div>
       @Html.HiddenFor(m=>m.EventProjectId)
       @Html.HiddenFor(m=>m.EventReportTemplateFile)
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventReportTemplate)
            </dt>
            <dd>
                    @Html.DisplayFor(model => model.EventReportTemplateFile)
                    @if (!String.IsNullOrEmpty(Model.EventReportTemplate))
                    {
                        <a href="@Url.Content(Model.EventReportTemplate)" data-toggle="tooltip" title="Click here to download the Event Report Template File">Event Report Template</a>
                    }
                </dd>
        </dl>
    </div>
}




