@model WorkflowManagementSystem.ViewModels.EventProjectViewModel

@if (Request.IsAuthenticated)
{
    {
        Layout = null;
    }
<div>
    <hr />
    @*<a href="@Url.Action("Edit", "EventProject")" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Edit Project
        </a>*@
    @if (Request.IsAuthenticated && User.IsInRole("Client Service Employee"))
    {
        @Html.ActionLink("Edit Project", "Edit", new { id = Model.EventProjectId }, new { @class = "btn btn-warning pull-left " }) <br />
        @*@Html.ActionLink("Change Status", "EditStatus", new { id = Model.EventProjectId })*@
    }
    <br />
    <br />

    @*<fieldset class="fieldset-border">*@
    @*<dl class="container-fluid  details-Background">*@
    <div class="container-fluid table-bordered details-Background">
        <dl>
            <dt class="col-md-3" style="font-size:19px;">
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd class="col-md-3">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-md-3" style="font-size:19px;">
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)

                @if (Request.IsAuthenticated && User.IsInRole("Client Service Employee"))
                {
                    @Html.ActionLink("Change Status", "EditStatus", new { id = Model.EventProjectId }, new { @class = "btn btn-default btn-sm pull-right " })
                }

                @*<a href="@Url.Action("EditStatus", "EventProject")" class="btn btn-default btn-sm pull-right">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        Change Status
                    </a>*@
            </dd>
        </dl>

        <hr />
        <dl>
            <dt class="col-md-3" style="font-size:19px;">
                @Html.DisplayNameFor(model => model.Employee)
            </dt>

            <dd class="col-md-3">
                @Html.DisplayFor(model => model.Employee)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>

            <dd class="col-md-3">
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
        </dl>
        <br />
        <br />
        <br />
    </div>
    @*</fieldset>*@
    <div class="container-fluid table-bordered details-Background">

        <dl>
            <dt class="col-md-3" style="font-size:19px;">
                @Html.DisplayNameFor(model => model.EventType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventType)
            </dd>
        </dl>
        <hr />
        <dl>
            <dt class="col-md-3" style="font-size:19px;">
                @Html.DisplayNameFor(model => model.Client)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Client)
            </dd>
        </dl>
        <hr />
        <dl>
            <dt class="col-md-3" style="font-size:19px;">
                @Html.DisplayNameFor(model => model.Brief)
            </dt>

            <dd class="col-md-12">
                @Html.DisplayFor(model => model.Brief)
            </dd>
        </dl>
        <hr />
        <dl>
            <dt class="col-md-1" style="font-size:19px;">
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd class="col-md-2">
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt class="col-md-1" style="font-size:19px;">
                @Html.DisplayNameFor(model => model.Street)
            </dt>

            <dd class="col-md-2">
                @Html.DisplayFor(model => model.Street)
            </dd>

            <dt class="col-md-1" style="font-size:19px;">
                @Html.DisplayNameFor(model => model.District)
            </dt>

            <dd class="col-md-3">
                @Html.DisplayFor(model => model.District)
            </dd>
        </dl>
        <br />
        <br />
    </div>
</div>

    <p>
        @*@Html.ActionLink("Back to List", "Index")*@
        @*@Html.ActionLink("Add Schedule", "ProjectSchedules", new { id = Model.EventProjectId }) |
            @Ajax.ActionLink("Client Details", "ClientDetailsPartial", new { id = Model.EventProjectId }, new AjaxOptions { UpdateTargetId = "ClientDetails", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }) |*@
    </p>
    }
