@model WorkflowManagementSystem.ViewModels.ProjectEventReportViewModel

@if (Request.IsAuthenticated)
{
    {
        Layout = null;
    }
    <div>
        @Html.HiddenFor(m=>m.EventProjectId)
        @Html.HiddenFor(m=>m.EventReportFile)
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventReportFile)
            </dt>
            <dd>
                    @Html.DisplayFor(model => model.EventReportFile)
                    @if (!String.IsNullOrEmpty(Model.EventReport))
                    {
                        <a href="@Url.Content(Model.EventReport)" data-toggle="tooltip" title="Click here to download the Event Report File">Event Report File</a>
                    }
                </dd>
        </dl>
    </div>
}




