@model WorkflowManagementSystem.ViewModels.Project3DModelViewModel

@if (Request.IsAuthenticated)
{
    {
        Layout = null;
    }
   
        <div>
            @Html.HiddenFor(m => m.EventProjectId)
            @Html.HiddenFor(m => m.ThreeDModelFile)
            <hr />

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ThreeDModelFile)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ThreeDModelFile)
                    @if (!String.IsNullOrEmpty(Model.ThreeDModel))
                    {
                        <a href="@Url.Content(Model.ThreeDModel)" data-toggle="tooltip" title="Click here to download the 3D Model File">3D Model</a>
                    }
                </dd>
            </dl>
        </div>
    
}


