@model WorkflowManagementSystem.ViewModels.DocumentViewModel

@if (Request.IsAuthenticated)
{
    {
        ViewBag.Title = "ApprovalDetails";
    }

    <h2>Approval Details</h2>

    <a href="@Url.Action("DetailsMaster", "EventProject", new { id = Model.EventProjectId })" class="btn btn-default btn-sm btn-round">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        Back to Project Details
    </a>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventProject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventProject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FilePath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FilePath)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CEOFeedback)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CEOFeedback)
            </dd>
        </dl>
    </div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.DocumentId }) |*@
        @*@Html.ActionLink("Back", "DetailsMaster", new { id = Model.EventProjectId }, "EventProject")*@
        @*@Html.ActionLink("Back", "DetailsMaster", "EventProject", new { id = Model.EventProjectId }, null)*@
        @*@Html.ActionLink("Back", "DetailsMaster", "EventProject", new { id = Model.EventProjectId }, null)*@
    </p>

}