@model WorkflowManagementSystem.ViewModels.DocumentViewModel

@if (Request.IsAuthenticated && User.IsInRole("Finance Employee"))
{
    {
        ViewBag.Title = "Document Details";
    }

    <h2>Details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FilePath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FilePath)
            </dd>

            @*<dd>
                    @Html.DisplayFor(model => model.DocumentFile)
                    @if (!String.IsNullOrEmpty(Model.FilePath))
                     {
                    <a href="@Url.Content(Model.FilePath)">File</a>
                     }
                </dd>*@

            @*<dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CEOFeedback)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CEOFeedback)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.EventProject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventProject)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.DocumentId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}