@model IEnumerable<WorkflowManagementSystem.ViewModels.ClientViewModel>

@if (Request.IsAuthenticated && User.IsInRole("Client Service Employee"))
{
    {
        ViewBag.Title = "Client List";
    }

    <h2>Client List</h2>

    <p>
        @Html.ActionLink("Create New Client", "Create", "Client", new { @class = "btn btn-create" })
    </p>
    <table class="table" id="clientsTable">
        <thead>
            <tr>
                @*<th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>*@
                <th>
                    @Html.Label("Name")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>                    
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ClientId }, new { @class = "btn btn-primary btn-xs btn-sharp btn-right-space" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.ClientId }, new { @class = "btn btn btn-warning btn-xs btn-sharp btn-right-space" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ClientId }, new { @class = "btn btn-danger btn-xs btn-sharp" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section scripts
{
        <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/jquery.dataTables.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.scroller.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.bootstrap.min.js")"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#clientsTable').DataTable({

                    "scrollY": "300px",
                    "scrollCollapse": true,
                    "paging": false,

                    "columnDefs": [
                        { "orderable": false, "targets": -1 }
                    ]
                });
            });
        </script>
    }

    @section styles
{
        <link href="@Url.Content("/Content/DataTables/css/jquery.dataTables.min.css")" rel="stylesheet" />
        <link href="@Url.Content("/Content/DataTables/css/dataTables.scroller.min.css")" rel="stylesheet" />
        <link href="@Url.Content("/Content/DataTables/css/dataTables.bootstrap.min.css")" rel="stylesheet" />
    }

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}