@model IEnumerable<WorkflowManagementSystem.ViewModels.UsherAppointedViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Ushers Assigned</h2>

<p>
    @Html.ActionLink("Assign", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAppointed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAppointed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.UsherAppointedId }) |
            @Html.ActionLink("Details", "Details", new { id = item.UsherAppointedId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UsherAppointedId })
        </td>
    </tr>
}

</table>
