@model WorkflowManagementSystem.ViewModels.CostSheetViewModel

@{
    Layout = null;
}

<div>
    <h4>CEO Approval</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.CostSheetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostSheetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.EventProject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventProject)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEODecision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEODecision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEOFeedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEOFeedback)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.CostSheetId }) |*@
    @Html.ActionLink("Back", "CostSheetItems", new { id = Model.CostSheetId })
</p>
